@import './components/modal';
@import './components/group';

* {
  padding: 0;
  margin: 0;
  list-style: none;
  outline: none;
  font-family: 'Gilroy', sans-serif;
  font-style: normal;
  font-weight: 400;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 20px;
  background-color: #e1e3e6;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.app {
  background: white;
  border-radius: 12px;
}

.title {
  margin: 0 20px;
  padding: 0;
  line-height: 62px;
  font-size: 19px;
  border-bottom: 1px solid #dce1e6;
}

.navigation {
  padding: 0 20px 0 20px;
  margin: 20px 0 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.privacy {
  display: flex;
  &-text {
    margin-right: 12px;
  }
}

.color {
  display: flex;
  &-text {
    margin-right: 12px;
  }
}

.having-friends {
  display: flex;
  &-text {
    margin-right: 12px;
  }
}

.drop {
  cursor: pointer;
  font-weight: 700;
  font-size: 17px;
  &:hover {
    opacity: 0.5;
    transition: opacity 0.3s;
  }
}

.error-app {
  background: white;
  border-radius: 12px;
  width: 100%;
  height: 400px;
  display: grid;
  align-items: center;
}

.error-main {
  text-align: center;
}

.error-title {
  height: 40px;
  line-height: 30px;
  font-weight: 700;
  font-size: 35px;
  margin-bottom: 30px;
}

.null-app {
  background: white;
  border-radius: 12px;
  width: 100%;
  height: 200px;
}

.null-title {
  margin-bottom: 20px;
}

.null-text {
  padding: 0 20px;
}